.cards1 {
  padding: 12rem;
  background: #fff;
  width: 100%; /* Increase the width to 80% */
  margin: 0 auto; /* Center the cards */
  display: flex;
  justify-content: center;
}

.cards__container1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 1120px;
}

.cards__wrapper1{
  /* Remove flex-flow: row wrap; */
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards__items1 {
  margin-bottom: 10px;
  flex: 1 1 100%; /* Each card item should take full width */
  max-width: 100%; /* Ensure card items don't exceed full width */
}

.cards__item1 {
  margin: 0 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 800px; /* Set maximum width for individual card items */
}

.cards__item1__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item1__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 80%;
  overflow: hidden;
  flex: 1; /* Image takes the left side */
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item1__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item1__img {
  position: absolute;
  top: 0;
  left: 0; /* Image starts from the left */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item1__img:hover {
  transform: scale(1.1);
}

.cards__item1__info {
  padding: 20px 30px 30px;
  flex: 1; 
  text-align: center;
}

.cards__item1__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

.cancel-button {
  background-color: red;
  color: white;
  padding: 10px 157px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  font-size:medium;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items1 {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item1 {
    margin-bottom: 2rem;
  }
}
