.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust the top margin according to your navbar height */
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
  }
  
  .add-lecturer-button,
  .update-lecturer-button {
    padding: 10px 10px;
    height: 80px;
    width: 400px;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-lecturer-button:hover,
  .update-lecturer-button:hover {
    background-color: #0056b3;
  }
  
  
  .rectangle {
    width: 80%; /* Adjust the width as needed */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }

 


.rectangles-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}



.add-lecturer {
  background-color: #f0f0f0;
}

.update-lecturer {
  background-color: #e0e0e0;
}

.table-container {
  width: 80%;
  padding-top: 20px; /* Adjust for navbar */
}

.lecturer-table {
  width: 100%;
  border-collapse: collapse;
}

.lecturer-table th,
.lecturer-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.lecturer-table th {
  background-color: #f2f2f2;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
 
}

.update-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width:50%;
  
}

.update-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  width:50%;
}

.delete-button:hover {
  background-color: #c82333;
}

  